.close {
  display: block;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 3%;
  top: 2%;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* Media Queries */

@media( max-width: 470px ) {
    .close:before, .close:after {
        left: 5%;
        top: 3%;
    }
}

@media( max-width: 400px ) {
    .close:before, .close:after {
        left: 5%;
        top: 3%;
    }
}
