.main {
    background-color: #f7fafc;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#titles {
    text-align: center;
    font-weight: thin;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    color: #47b2e8;
    font-size: 59px;
    margin-top: 180px;
}

.description {
    color: #4A606D;
    font-size: 18px;
    margin-top: -30px;
}

a {
    color: #fcdd7c;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    margin-top: 30px;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 40%;
    height: 1px;
    background-color: #eee;
    background: -webkit-gradient(linear, 50% 50%, 50% 0, from(white), to(white), color-stop(50%, #CCCDCE));
}

.social {
    margin-top: 50px;
    text-align: center;
    list-style: none;
}

ul {
    margin-left: -30px;
}

ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

li button {
    border-radius: 50px;
    border: none;
    width: 40px;
    height: 40px;
}

.github {
    background-color: #75D8CB;
}

.github i {
    color: white;
}

.facebook {
    background-color: #3b5998;
}

.facebook i {
    color: white;
}

.gmail {
    background-color: #c71610;
}

.gmail i {
    color: white;
}
