.main {
    background-color: #f7fafc;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#titles {
    text-align: center;
    font-weight: thin;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    color: #47b2e8;
    font-size: 59px;
    margin-top: 12%;
}

.description {
    color: #4A606D;
    font-size: 18px;
    margin-top: -2%;
}

.projectLink {
    color: #fcdd7c;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    margin-top: 2%;
}

.line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 40%;
    height: 1px;
    background-color: #eee;
    background: -webkit-gradient(linear, 50% 50%, 50% 0, from(white), to(white), color-stop(50%, #CCCDCE));
}

.social {
    margin-top: 7%;
    text-align: center;
    list-style: none;
}

.socialLinks {
    text-decoration: none;
}

ul {
    margin-left: -30px;
}

ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

li button {
    border-radius: 50px;
    border: none;
    width: 40px;
    height: 40px;
}

.github {
    background-color: #75D8CB;
}

.github i {
    color: white;
}

.facebook {
    background-color: #3b5998;
}

.facebook i {
    color: white;
}

.gmail {
    background-color: #c71610;
}

.gmail i {
    color: white;
}

.modal-content {
    height: 100%;
    text-align: center;
}

#projects {
    width: 47%;
    height: 70%;
    //border: 1px solid black;
    display: inline-block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 22px;
}

.projectPhotos {
    text-align: center;
    width: 98%;
    height: 90%;
}

/* Media Queries */

/* iPhone 6 Plus, Nexus 6P, etc. */
@media (max-width: 470px) {
    .name {
        font-size: 36px;
        margin-top: 35%;
    }

    .social {
        margin-top: 14%;
    }

    #projects {
        display: block;
        width: 98%;
    }

}

/* iPhone 6 and below */
@media (max-width: 400px) {
    .name {
        font-size: 36px;
        margin-top: 45%;
    }

    .description {
        font-size: 16px;
    }

    .projectLink {
        margin-top: 9%;
    }

    .line {
        margin-top: 13%;
    }

    .social {
        margin-top: 14%;
    }

    #projects {
        display: block;
        width: 98%;
    }

    .projectPhotos {
        width: 100%;
        height: 100%;
    }

 }
